<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html><head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-type">
    <title>IMS</title>
    <%= stylesheet_link_tag 'mcd' %>
    <%= stylesheet_link_tag 'mckinsey_template' %>
  </head>
  <body>
    <div id="wrapper">
      
        
      
      <div id="body_struture">
          <%=yield%>
      </div>

    </div>


</body></html>